body{
    margin: 0;
    font-family: Inter;
    overflow: hidden;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.timer{
    position: fixed;
    bottom: 20%;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 10px 50px black; 
    padding: 10px;
}

.donatebtn{
    background-color: rgba(255, 105, 105, 0.5);
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition-duration: 0.5s;
    cursor: pointer;

    position: fixed;
    bottom: 5%;
}

.donatebtn:hover{
    background-color: rgb(255, 53, 53);
    box-shadow: 0px 5px 10px red; 
    scale: 1.1;
}

/***************************************************************************************/

#loginIcon {
    cursor: pointer;
    height: 40px;
    width: 50px;
    border-radius:100% ;
    display: block;
    justify-content: center;
    transition-duration: 0.3s;
}

#loginIcon:hover{
    scale: 1.1;
}

.container {
    z-index: 100;
    max-width: 400px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.427);
    display: none;
    background: transparent;
    backdrop-filter: blur(20px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
}

.container.active {
    display: block;
}

#loginForm, #registerForm {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: rgba(255, 105, 105, 0.553);
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgba(212, 3, 3, 0.641);
}

p {
    margin-top: 15px;
    text-align: center;
}
#showRegister { 
    color:  rgb(205, 8, 8);
    text-decoration: none;
    margin-top: 15px;
}

#showRegister:hover {
    text-decoration: underline;
}